<%layout(id)%>
<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor" id="k_content">

    <!-- begin:: Content Head -->
    <div class="k-content__head	k-grid__item">
        <div class="k-content__head-main">
            <h3 class="k-content__head-title">Blog Post</h3>
            <div class="k-content__head-breadcrumbs">
                <a href="#" class="k-content__head-breadcrumb-home"><i class="flaticon2-shelter"></i></a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Custom</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Blog</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Blog Post</a>

                <!-- <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">Active link</span> -->
            </div>
        </div>
        <div class="k-content__head-toolbar">
            <div class="k-content__head-wrapper">
                <div class="dropdown dropdown-inline k-hide" data-toggle="k-tooltip" title="Quick actions" data-placement="left">
                    <button type="button" class="btn btn-sm btn-elevate btn-danger btn-bold btn-upper dropdown-toggle-" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
                        <a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
                        <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-elevate btn-brand" id="k_dashboard_daterangepicker" data-toggle="k-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="k-font-bold" id="k_dashboard_daterangepicker_date">Aug 16</span>
                    <i class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content Body -->
    <div class="k-content__body	k-grid__item k-grid__item--fluid" id="k_content_body">
        <div class="k-portlet">
            <div class="k-portlet__body">
                <div class="k-blog-post">
                    <h1 class="k-blog-post__title k-heading k-heading--lg k-heading--medium">
                        Long term business aims and text objectives
                    </h1>
                    <div class="k-blog-post__meta">
                        <div class="k-blog-post__date">
                            Nov 18, 2018
                        </div>
                        <div class="k-blog-post__author">
                            By <a href="" class="k-blog-post__link">Admin</a>
                        </div>
                        <div class="k-blog-post__comments">
                            24 Comments
                        </div>
                    </div>
                    <div class="k-blog-post__hero-image">
                        <img src="/theme/default/dist/default/assets/media/blog/1200x600/2.jpg" class="k-blog-post__image" />
                    </div>
                    <div class="k-blog-post__content">
                        <p>Apart from the objective of your text, your company or your website will have long term business objectives. You should think about those long term business aims while determining the objectives of the text on your website.</p>
                        <p>For instance, at Yoast.com, we write blogposts largely to inform people about SEO. So the objective is to inform people. However, we also want people to become return visitors and to gain trust in our brand. Eventually, the long term purpose of our informing blogs is to gain enough trust for people to buy one of our products.</p>
                        <p>Be aware that if the objective of your post is to generate links from others, you should think about the character of your post as well. If you want your post to attract links from other sites in order to improve your rankings in Google you should focus on writing informative or amusing posts. Persuasive posts, in which the sales arguments are salient, will not receive as many links as purely informative posts will. People are more likely to share an informative or an amusing post than a purely persuasive post, because these posts are more free of ulterior motives.</p>
                    </div>
                    <div class="k-blog-post__foot">
                        <div class="k-blog-post__author">
                            <div class="k-blog-post__profile">
                                <img src="/theme/default/dist/default/assets/media/users/300_21.jpg" class="k-blog-post__image" />
                            </div>
                            <div class="k-blog-post__label">
                                <span>Jeremy Fisher,</span> Author
                            </div>
                        </div>
                        <div class="k-blog-post__social">
                            <div class="k-blog-post__label">
                                Share this post:
                            </div>
                            <a href="" class="k-blog-post__link"><i class="flaticon-facebook-logo-button"></i></a>
                            <a href="" class="k-blog-post__link"><i class="flaticon-twitter-logo-button"></i></a>
                            <a href="" class="k-blog-post__link"><i class="flaticon-email-black-circular-button"></i></a>
                        </div>
                    </div>
                    <div class="k-blog-post__comments">
                        <div class="k-blog-post__input">
                            <div class="k-blog-post__input-title">
                                38 Comments
                            </div>
                            <form class="k-blog-post__form">
                                <textarea class="k-blog-post__textarea" rows="4"></textarea>
                                <button class="btn btn-pill btn-tall btn-wider btn-brand btn-upper btn-bold">Submit</button>
                            </form>
                        </div>
                        <div class="k-blog-post__threads">
                            <div class="k-blog-post__thread">
                                <div class="k-blog-post__head">
                                    <img src="/theme/default/dist/default/assets/media/users/100_10.jpg" class="k-blog-post__image" />
                                </div>
                                <div class="k-blog-post__body">
                                    <div class="k-blog-post__top">
                                        <div class="k-blog-post__author">
                                            <div class="k-blog-post__label">
                                                <span>Jeremy Fisher,</span> 2 days ago
                                            </div>
                                        </div>
                                        <a href="" class="k-blog-post__link">Reply</a>
                                    </div>
                                    <div class="k-blog-post__content">
                                        <p>For instance, at Yoast.com, we write blogposts largely to inform people about SEO. So the objective is to inform people. However, we also want people to become return visitors and to gain trust in our brand. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="k-blog-post__thread k-blog-post__thread--sub">
                                <div class="k-blog-post__head">
                                    <img src="/theme/default/dist/default/assets/media/users/100_7.jpg" class="k-blog-post__image" />
                                </div>
                                <div class="k-blog-post__body">
                                    <div class="k-blog-post__top">
                                        <div class="k-blog-post__author">
                                            <div class="k-blog-post__label">
                                                <span>Jeremy Fisher,</span> 2 days ago
                                            </div>
                                        </div>
                                        <a href="" class="k-blog-post__link">Reply</a>
                                    </div>
                                    <div class="k-blog-post__content">
                                        <p>For instance, at Yoast.com, we write blogposts largely to inform people about SEO. So the objective is to inform people. However, we also want people to become return visitors and to gain trust in our brand. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="k-blog-post__thread">
                                <div class="k-blog-post__head">
                                    <img src="/theme/default/dist/default/assets/media/users/100_9.jpg" class="k-blog-post__image" />
                                </div>
                                <div class="k-blog-post__body">
                                    <div class="k-blog-post__top">
                                        <div class="k-blog-post__author">
                                            <div class="k-blog-post__label">
                                                <span>Jeremy Fisher,</span> 2 days ago
                                            </div>
                                        </div>
                                        <a href="" class="k-blog-post__link">Reply</a>
                                    </div>
                                    <div class="k-blog-post__content">
                                        <p>For instance, at Yoast.com, we write blogposts largely to inform people about SEO. So the objective is to inform people. However, we also want people to become return visitors and to gain trust in our brand. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Body -->
</div>