<%layout(id)%>

<!-- begin:: Content -->
<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor" id="k_content">

    <!-- begin:: Content Head -->
    <div class="k-content__head	k-grid__item">
        <div class="k-content__head-main">
            <h3 class="k-content__head-title">Validation States</h3>
            <div class="k-content__head-breadcrumbs">
                <a href="#" class="k-content__head-breadcrumb-home"><i class="flaticon2-shelter"></i></a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Extended</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Forms</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Validation</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">States</a>

                <!-- <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">Active link</span> -->
            </div>
        </div>
        <div class="k-content__head-toolbar">
            <div class="k-content__head-wrapper">
                <div class="dropdown dropdown-inline k-hide" data-toggle="k-tooltip" title="Quick actions" data-placement="left">
                    <button type="button" class="btn btn-sm btn-elevate btn-danger btn-bold btn-upper dropdown-toggle-" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
                        <a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
                        <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-elevate btn-brand" id="k_dashboard_daterangepicker" data-toggle="k-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="k-font-bold" id="k_dashboard_daterangepicker_date">Aug 16</span>
                    <i class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content Body -->
    <div class="k-content__body	k-grid__item k-grid__item--fluid" id="k_content_body">
        <div class="row">
            <div class="col-lg-6">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Default Form Validation States</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form">
                        <div class="k-portlet__body">
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputSuccess1">Input with success</label>
                                <input type="text" class="form-control is-valid" id="inputSuccess1">
                                <div class="valid-feedback">Success! You've done it.</div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputWarning1">Input with error</label>
                                <input type="text" class="form-control is-invalid" id="inputWarning1">
                                <div class="invalid-feedback">Shucks, check the formatting of that and try again.</div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Horizontal Form Validation States</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form">
                        <div class="k-portlet__body">
                            <div class="form-group row validated">
                                <label class="col-form-label col-lg-3" for="inputSuccess1">Input with success</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-valid" id="inputSuccess1">
                                    <div class="valid-feedback">Success! You've done it.</div>
                                    <span class="form-text text-muted">Example help text that remains unchanged.</span>
                                </div>
                            </div>
                            <div class="form-group row validated">
                                <label class="col-form-label col-lg-3" for="inputWarning1">Input with error</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-invalid" id="inputWarning1">
                                    <div class="invalid-feedback">Shucks, check the formatting of that and try again.</div>
                                    <span class="form-text text-muted">Example help text that remains unchanged.</span>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <button type="submit" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Input Group Validation States</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form">
                        <div class="k-portlet__body">
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputSuccess1">Left Addon</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="la la-bar-chart"></i></span></div>
                                    <input type="text" class="form-control is-valid" placeholder="Email" aria-describedby="basic-addon1">
                                    <div class="valid-feedback">Success! You've done it.</div>
                                </div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputWarning1">Right Addon</label>
                                <div class="input-group">
                                    <input type="text" class="form-control is-invalid" value="4444a" placeholder="Email" aria-describedby="basic-addon1">
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon1">USD</span></div>
                                    <div class="invalid-feedback">Shucks, check the formatting of that and try again.</div>
                                </div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
            <div class="col-lg-6">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Checkbox & Radio Validation States</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form">
                        <div class="k-portlet__body">
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputSuccess1">Checkboxes</label>
                                <div class="k-checkbox-list">
                                    <label class="k-checkbox">
                                        <input type="checkbox"> Option 1
                                        <span></span>
                                    </label>
                                    <label class="k-checkbox">
                                        <input type="checkbox"> Option 2
                                        <span></span>
                                    </label>
                                    <label class="k-checkbox">
                                        <input type="checkbox"> Option 3
                                        <span></span>
                                    </label>
                                </div>
                                <div class="valid-feedback">Success! You've done it.</div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputSuccess1">Inline Checkboxes</label>
                                <div class="k-checkbox-inline">
                                    <label class="k-checkbox">
                                        <input type="checkbox"> Option 1
                                        <span></span>
                                    </label>
                                    <label class="k-checkbox">
                                        <input type="checkbox"> Option 2
                                        <span></span>
                                    </label>
                                    <label class="k-checkbox">
                                        <input type="checkbox"> Option 3
                                        <span></span>
                                    </label>
                                </div>
                                <div class="invalid-feedback">Success! You've done it.</div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputSuccess1">Radios</label>
                                <div class="k-radio-list">
                                    <label class="k-radio">
                                        <input type="radio"> Option 1
                                        <span></span>
                                    </label>
                                    <label class="k-radio">
                                        <input type="radio"> Option 2
                                        <span></span>
                                    </label>
                                    <label class="k-radio">
                                        <input type="radio"> Option 3
                                        <span></span>
                                    </label>
                                </div>
                                <div class="valid-feedback">Success! You've done it.</div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputSuccess1">Inline Radios</label>
                                <div class="k-radio-inline">
                                    <label class="k-radio">
                                        <input type="radio"> Option 1
                                        <span></span>
                                    </label>
                                    <label class="k-radio">
                                        <input type="radio"> Option 2
                                        <span></span>
                                    </label>
                                    <label class="k-radio">
                                        <input type="radio"> Option 3
                                        <span></span>
                                    </label>
                                </div>
                                <div class="invalid-feedback">Success! You've done it.</div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions k-form__actions">
                                <button type="submit" class="btn btn-brand">Submit</button>
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Icon Input Validation States</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form">
                        <div class="k-portlet__body">
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputSuccess1">Left Icon</label>
                                <div class="k-input-icon k-input-icon--left">
                                    <input type="text" class="form-control is-valid" placeholder="Email">
                                    <span class="k-input-icon__icon"><span><i class="la la-map-marker"></i></span></span>
                                </div>
                                <div class="valid-feedback">Success! You've done it.</div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                            <div class="form-group validated">
                                <label class="form-control-label" for="inputWarning1">Right Icon</label>
                                <div class="k-input-icon k-input-icon--right">
                                    <input type="text" class="form-control is-invalid" placeholder="Email">
                                    <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-unlock-alt"></i></span></span>
                                </div>
                                <div class="invalid-feedback">Shucks, check the formatting of that and try again.</div>
                                <span class="form-text text-muted">Example help text that remains unchanged.</span>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <button type="submit" class="btn btn-brand">Submit</button>
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content Body -->
</div>

<!-- end:: Content -->