<%layout('../brand_header/layout')%>
<!-- begin:: Content -->
<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor" id="k_content">

    <!-- begin:: Content Head -->
    <div class="k-content__head	k-grid__item">
        <div class="k-content__head-main">
            <h3 class="k-content__head-title">Avatar Inputs</h3>
            <div class="k-content__head-breadcrumbs">
                <a href="#" class="k-content__head-breadcrumb-home"><i class="flaticon2-shelter"></i></a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Extended</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Forms</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Controls</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Avatar Inputs</a>

                <!-- <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">Active link</span> -->
            </div>
        </div>
        <div class="k-content__head-toolbar">
            <div class="k-content__head-wrapper">
                <div class="dropdown dropdown-inline k-hide" data-toggle="k-tooltip" title="Quick actions" data-placement="left">
                    <button type="button" class="btn btn-sm btn-elevate btn-danger btn-bold btn-upper dropdown-toggle-" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
                        <a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
                        <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-elevate btn-brand" id="k_dashboard_daterangepicker" data-toggle="k-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="k-font-bold" id="k_dashboard_daterangepicker_date">Aug 16</span>
                    <i class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content Body -->
    <div class="k-content__body	k-grid__item k-grid__item--fluid" id="k_content_body">
        <div class="row">
            <div class="col-lg-12 col-xl-6">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Basic Avatar Input</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form k-form--label-right">
                        <div class="k-portlet__body">
                            <div class="form-group">
                                <div class="alert alert-secondary" role="alert">
                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                    <div class="alert-text">
                                        Please click the edit icon to change the avatar image.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-3 col-form-label">Default Style</label>
                                <div class="col-9">
                                    <div class="k-avatar" id="k_profile_avatar_1">
                                        <div class="k-avatar__holder" style="background-image: url(../../../assets/media/users/100_1.jpg)"></div>
                                        <label class="k-avatar__upload" data-toggle="k-tooltip" title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input type='file' name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                        </label>
                                        <span class="k-avatar__cancel" data-toggle="k-tooltip" title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-3 col-form-label">Circle Style</label>
                                <div class="col-9">
                                    <div class="k-avatar k-avatar--circle" id="k_profile_avatar_2">
                                        <div class="k-avatar__holder" style="background-image: url(../../../assets/media/users/100_2.jpg)"></div>
                                        <label class="k-avatar__upload" data-toggle="k-tooltip" title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input type='file' name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                        </label>
                                        <span class="k-avatar__cancel" data-toggle="k-tooltip" title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <div class="row">
                                    <div class="col-3">
                                    </div>
                                    <div class="col-9">
                                        <button type="reset" class="btn btn-success">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--end::Portlet-->
            </div>
            <div class="col-lg-12 col-xl-6">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Outline Option</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form k-form--label-right">
                        <div class="k-portlet__body">
                            <div class="form-group">
                                <div class="alert alert-secondary" role="alert">
                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                    <div class="alert-text">
                                        Please click the edit icon to change the avatar image.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-3 col-form-label">Default Style</label>
                                <div class="col-9">
                                    <div class="k-avatar k-avatar--outline k-avatar--success" id="k_profile_avatar_3">
                                        <div class="k-avatar__holder" style="background-image: url(../../../assets/media/users/100_3.jpg)"></div>
                                        <label class="k-avatar__upload" data-toggle="k-tooltip" title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input type='file' name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                        </label>
                                        <span class="k-avatar__cancel" data-toggle="k-tooltip" title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-3 col-form-label">Circle Style</label>
                                <div class="col-9">
                                    <div class="k-avatar k-avatar--outline k-avatar--danger k-avatar--circle" id="k_profile_avatar_4">
                                        <div class="k-avatar__holder" style="background-image: url(../../../assets/media/users/100_4.jpg)"></div>
                                        <label class="k-avatar__upload" data-toggle="k-tooltip" title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input type='file' name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                        </label>
                                        <span class="k-avatar__cancel" data-toggle="k-tooltip" title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <div class="row">
                                    <div class="col-3">
                                    </div>
                                    <div class="col-9">
                                        <button type="reset" class="btn btn-success">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content Body -->
</div>

<!-- end:: Content -->