<%layout('../brand_header/layout')%>
<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor" id="k_content">

    <!-- begin:: Content Head -->
    <div class="k-content__head	k-grid__item">
        <div class="k-content__head-main">
            <h3 class="k-content__head-title">Pricing - v2</h3>
            <div class="k-content__head-breadcrumbs">
                <a href="#" class="k-content__head-breadcrumb-home"><i class="flaticon2-shelter"></i></a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Custom</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Pricing</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Pricing v2</a>

                <!-- <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">Active link</span> -->
            </div>
        </div>
        <div class="k-content__head-toolbar">
            <div class="k-content__head-wrapper">
                <div class="dropdown dropdown-inline k-hide" data-toggle="k-tooltip" title="Quick actions" data-placement="left">
                    <button type="button" class="btn btn-sm btn-elevate btn-danger btn-bold btn-upper dropdown-toggle-" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
                        <a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
                        <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-elevate btn-brand" id="k_dashboard_daterangepicker" data-toggle="k-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="k-font-bold" id="k_dashboard_daterangepicker_date">Aug 16</span>
                    <i class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content Body -->
    <div class="k-content__body	k-grid__item k-grid__item--fluid" id="k_content_body">
        <div class="row">
            <div class="col-xl-12">
                <div class="k-pricing-v2">
                    <h3 class="k-heading k-heading--center k-heading--space-sm k-heading--xl k-heading--bolder">Transparent & Simple Pricing</h3>
                    <div class="k-separator k-separator--height-sm"></div>
                    <div class="k-align-center">
                        <div class="btn-group btn-pill btn-elevated">
                            <div class="nav" role="tablist">
                                <a class="btn btn-square btn-bold btn-widest btn-taller active show k-font-transform-u" data-toggle="tab" href="#k_tabs_2_1" role="tab">Monthly Fees</a>
                                <a class="btn btn-square btn-bold btn-widest btn-taller k-font-transform-u" data-toggle="tab" href="#k_tabs_2_2" role="tab">Annual Fees</a>
                            </div>
                        </div>
                    </div>
                    <div class="k-separator k-separator--height-md"></div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="k_tabs_2_1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-12 col-xl-4 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--flat">
                                        <div class="k-pricing-v2__header">
                                            <h3 class="k-pricing-v2__title">Monthly Product Pricing</h3>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__content">
                                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-4 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--white-bg">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-responsive"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Single App
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>49<div class="k-pricing-v2__price-type"> / month</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold btn-outline-dark">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-4 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--fill-danger">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-presentation-1"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Enterprise
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>
                                                <div class="k-pricing-v2__price-value">499</div>
                                                <div class="k-pricing-v2__price-type"> / month</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="k_tabs_2_2" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-12 col-xl-4 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--flat">
                                        <div class="k-pricing-v2__header">
                                            <h3 class="k-pricing-v2__title">Annual Product Pricing</h3>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__content">
                                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-4">
                                    <div class="k-pricing-v2__item k-pricing-v2--accent">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-responsive"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Single App
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>249<div class="k-pricing-v2__price-type"> / year</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-4">
                                    <div class="k-pricing-v2__item k-pricing-v2--fill-warning">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-presentation-1"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Enterprise
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>1,299<div class="k-pricing-v2__price-type"> / year</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="k-separator k-separator--height-lg"></div>
        <div class="row">
            <div class="col-xl-12">
                <div class="k-pricing-v2">
                    <h3 class="k-heading k-heading--center k-heading--space-sm k-heading--xl k-heading--bolder">Transparent & Simple Pricing</h3>
                    <div class="k-separator k-separator--height-sm"></div>
                    <div class="k-align-center">
                        <div class="btn-group btn-pill btn-elevated">
                            <div class="nav" role="tablist">
                                <a class="btn btn-square btn-bold btn-widest btn-taller active show k-font-transform-u" data-toggle="tab" href="#k_tabs_4_1" role="tab">Monthly Fees</a>
                                <a class="btn btn-square btn-bold btn-widest btn-taller k-font-transform-u" data-toggle="tab" href="#k_tabs_4_2" role="tab">Annual Fees</a>
                            </div>
                        </div>
                    </div>
                    <div class="k-separator k-separator--height-md"></div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="k_tabs_4_1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-12 col-xl-3 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--fill-light k-pricing-v2--elevated">
                                        <div class="k-pricing-v2__header">
                                            <h3 class="k-pricing-v2__title">Monthly Product Pricing</h3>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__content">
                                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-3 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--info k-pricing-v2--elevated">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-responsive"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Single App
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>49<div class="k-pricing-v2__price-type"> / month</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-3 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--warning k-pricing-v2--elevated">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-network"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Professional
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>
                                                <div class="k-pricing-v2__price-value">299</div>
                                                <div class="k-pricing-v2__price-type"> / month</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-3 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--danger k-pricing-v2--elevated">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-presentation-1"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Enterprise
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>
                                                <div class="k-pricing-v2__price-value">499</div>
                                                <div class="k-pricing-v2__price-type"> / month</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="k_tabs_4_2" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-12 col-xl-3 col-stretch">
                                    <div class="k-pricing-v2__item k-pricing-v2--fill-light k-pricing-v2--elevated">
                                        <div class="k-pricing-v2__header">
                                            <h3 class="k-pricing-v2__title">Annual Product Pricing</h3>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__content">
                                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-3">
                                    <div class="k-pricing-v2__item k-pricing-v2--accent k-pricing-v2--elevated">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-imac"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Single App
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>249<div class="k-pricing-v2__price-type"> / year</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-3">
                                    <div class="k-pricing-v2__item k-pricing-v2--success k-pricing-v2--elevated">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-presentation"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Professional
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>549<div class="k-pricing-v2__price-type"> / year</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-3">
                                    <div class="k-pricing-v2__item k-pricing-v2--warning k-pricing-v2--elevated">
                                        <div class="k-pricing-v2__header">
                                            <div class="k-iconbox k-iconbox--no-hover">
                                                <div class="k-iconbox__icon">
                                                    <div class="k-iconbox__icon-bg"></div>
                                                    <i class="flaticon-coins"></i>
                                                </div>
                                                <div class="k-iconbox__title">
                                                    Enterprise
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-pricing-v2__body">
                                            <div class="k-pricing-v2__price">
                                                <div class="k-pricing-v2__price-currency">$</div>1,299<div class="k-pricing-v2__price-type"> / year</div>
                                            </div>
                                            <div class="k-pricing-v2__button">
                                                <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="k-separator k-separator--space-lg"></div>
        <div class="row">
            <div class="col-xl-12">
                <div class="k-pricing-v2">

                    <!--begin::Portlet-->
                    <div class="k-portlet">
                        <div class="k-portlet__body">
                            <div class="k-separator k-separator--height-xs"></div>
                            <h3 class="k-heading k-heading--center k-heading--space-sm k-heading--xl k-heading--bolder">Transparent & Simple Pricing</h3>
                            <div class="k-separator k-separator--height-sm"></div>
                            <div class="k-align-center">
                                <div class="btn-group btn-pill btn-elevated">
                                    <div class="nav" role="tablist">
                                        <a class="btn btn-square btn-bold btn-widest btn-taller active show k-font-transform-u" data-toggle="tab" href="#k_tabs_3_1" role="tab">Monthly Fees</a>
                                        <a class="btn btn-square btn-bold btn-widest btn-taller k-font-transform-u" data-toggle="tab" href="#k_tabs_3_2" role="tab">Annual Fees</a>
                                    </div>
                                </div>
                            </div>
                            <div class="k-separator k-separator--height-md"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="k_tabs_3_1" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-12 col-xl-3 col-stretch">
                                            <div class="k-pricing-v2__item k-pricing-v2--flat">
                                                <div class="k-pricing-v2__header">
                                                    <h3 class="k-pricing-v2__title">Monthly Product Pricing</h3>
                                                </div>
                                                <div class="k-pricing-v2__body">
                                                    <div class="k-pricing-v2__content">
                                                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-3 col-stretch k-pricing-v2--line-right">
                                            <div class="k-pricing-v2__item k-pricing-v2--info k-pricing-v2--flat">
                                                <div class="k-pricing-v2__header">
                                                    <div class="k-iconbox k-iconbox--no-hover">
                                                        <div class="k-iconbox__icon">
                                                            <div class="k-iconbox__icon-bg"></div>
                                                            <i class="flaticon-browser"></i>
                                                        </div>
                                                        <div class="k-iconbox__title">
                                                            Single App
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="k-pricing-v2__body">
                                                    <div class="k-pricing-v2__price">
                                                        <div class="k-pricing-v2__price-currency">$</div>49<div class="k-pricing-v2__price-type"> / month</div>
                                                    </div>
                                                    <div class="k-pricing-v2__button">
                                                        <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold btn-outline">PURCHASE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-3 col-stretch">
                                            <div class="k-pricing-v2__item k-pricing-v2--accent k-pricing-v2--flat">
                                                <div class="k-pricing-v2__header">
                                                    <div class="k-iconbox k-iconbox--no-hover">
                                                        <div class="k-iconbox__icon">
                                                            <div class="k-iconbox__icon-bg"></div>
                                                            <i class="flaticon-web"></i>
                                                        </div>
                                                        <div class="k-iconbox__title">
                                                            Professional
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="k-pricing-v2__body">
                                                    <div class="k-pricing-v2__price">
                                                        <div class="k-pricing-v2__price-currency">$</div>
                                                        <div class="k-pricing-v2__price-value">299</div>
                                                        <div class="k-pricing-v2__price-type"> / month</div>
                                                    </div>
                                                    <div class="k-pricing-v2__button">
                                                        <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold btn-outline">PURCHASE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-3 col-stretch">
                                            <div class="k-pricing-v2__item k-pricing-v2--fill-danger k-pricing-v2--flat">
                                                <div class="k-pricing-v2__header">
                                                    <div class="k-iconbox k-iconbox--no-hover">
                                                        <div class="k-iconbox__icon">
                                                            <div class="k-iconbox__icon-bg"></div>
                                                            <i class="flaticon-layers"></i>
                                                        </div>
                                                        <div class="k-iconbox__title">
                                                            Enterprise
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="k-pricing-v2__body">
                                                    <div class="k-pricing-v2__price">
                                                        <div class="k-pricing-v2__price-currency">$</div>
                                                        <div class="k-pricing-v2__price-value">499</div>
                                                        <div class="k-pricing-v2__price-type"> / month</div>
                                                    </div>
                                                    <div class="k-pricing-v2__button">
                                                        <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold">PURCHASE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="k_tabs_3_2" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-12 col-xl-3 col-stretch">
                                            <div class="k-pricing-v2__item k-pricing-v2--elevated">
                                                <div class="k-pricing-v2__header">
                                                    <h3 class="k-pricing-v2__title">Annual Product Pricing</h3>
                                                </div>
                                                <div class="k-pricing-v2__body">
                                                    <div class="k-pricing-v2__content">
                                                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-3 k-pricing-v2--line-right">
                                            <div class="k-pricing-v2__item k-pricing-v2--flat k-pricing-v2--warning">
                                                <div class="k-pricing-v2__header">
                                                    <div class="k-iconbox k-iconbox--no-hover">
                                                        <div class="k-iconbox__icon">
                                                            <div class="k-iconbox__icon-bg"></div>
                                                            <i class="flaticon-imac"></i>
                                                        </div>
                                                        <div class="k-iconbox__title">
                                                            Single App
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="k-pricing-v2__body">
                                                    <div class="k-pricing-v2__price">
                                                        <div class="k-pricing-v2__price-currency">$</div>249<div class="k-pricing-v2__price-type"> / year</div>
                                                    </div>
                                                    <div class="k-pricing-v2__button">
                                                        <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold btn-outline">PURCHASE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-3">
                                            <div class="k-pricing-v2__item k-pricing-v2--success k-pricing-v2--flat">
                                                <div class="k-pricing-v2__header">
                                                    <div class="k-iconbox k-iconbox--no-hover">
                                                        <div class="k-iconbox__icon">
                                                            <div class="k-iconbox__icon-bg"></div>
                                                            <i class="flaticon-globe"></i>
                                                        </div>
                                                        <div class="k-iconbox__title">
                                                            Professional
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="k-pricing-v2__body">
                                                    <div class="k-pricing-v2__price">
                                                        <div class="k-pricing-v2__price-currency">$</div>549<div class="k-pricing-v2__price-type"> / year</div>
                                                    </div>
                                                    <div class="k-pricing-v2__button">
                                                        <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold btn-outline">PURCHASE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-3">
                                            <div class="k-pricing-v2__item k-pricing-v2--fill-info k-pricing-v2--flat">
                                                <div class="k-pricing-v2__header">
                                                    <div class="k-iconbox k-iconbox--no-hover">
                                                        <div class="k-iconbox__icon">
                                                            <div class="k-iconbox__icon-bg"></div>
                                                            <i class="flaticon-coins"></i>
                                                        </div>
                                                        <div class="k-iconbox__title">
                                                            Enterprise
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="k-pricing-v2__body">
                                                    <div class="k-pricing-v2__price">
                                                        <div class="k-pricing-v2__price-currency">$</div>1,299<div class="k-pricing-v2__price-type"> / year</div>
                                                    </div>
                                                    <div class="k-pricing-v2__button">
                                                        <button type="button" class="btn btn-pill btn-widest btn-taller btn-bold btn-outline">PURCHASE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Body -->
</div>