<%layout(id)%>
<!-- begin:: Content -->
<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor" id="k_content">

    <!-- begin:: Content Head -->
    <div class="k-content__head	k-grid__item">
        <div class="k-content__head-main">
            <h3 class="k-content__head-title">Iconbox</h3>
            <div class="k-content__head-breadcrumbs">
                <a href="#" class="k-content__head-breadcrumb-home"><i class="flaticon2-shelter"></i></a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Components</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Iconbox</a>

                <!-- <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">Active link</span> -->
            </div>
        </div>
        <div class="k-content__head-toolbar">
            <div class="k-content__head-wrapper">
                <div class="dropdown dropdown-inline k-hide" data-toggle="k-tooltip" title="Quick actions" data-placement="left">
                    <button type="button" class="btn btn-sm btn-elevate btn-danger btn-bold btn-upper dropdown-toggle-" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
                        <a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
                        <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-elevate btn-brand" id="k_dashboard_daterangepicker" data-toggle="k-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="k-font-bold" id="k_dashboard_daterangepicker_date">Aug 16</span>
                    <i class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content Body -->
    <div class="k-content__body	k-grid__item k-grid__item--fluid" id="k_content_body">
        <div class="row">
            <div class="col-xl-12">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Iconbox Examples</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">
                        <div class="k-section">
                            <div class="k-section__info">An example of an iconbox. Add <code>k-iconbox--active</code> to the <code>k-iconbox</code> element to highlight the an active Iconbox.</div>
                            <div class="k-section__content k-section__content--border">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--active">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-home"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-multimedia-5"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-suitcase"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-folder-1"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Iconbox Full Content Examples</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">
                        <div class="k-section">
                            <div class="k-section__info">An example of an iconbox with description content.</div>
                            <div class="k-section__content k-section__content--border">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-list-2"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--active">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-time-2"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-cart"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-calendar-2"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Equal Height Examples</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">
                        <div class="k-section">
                            <div class="k-section__info">An example of an iconbox with equal height container. Add <code>col-stretch</code> to the <code>col-*</code> Bootstrap element to set each iconbox with an equal height.</div>
                            <div class="k-section__content k-section__content--border">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-3 col-stretch">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-settings-1"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel laoreet in, lacinia et erat.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3 col-stretch">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-interface-10"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel laoreet in, lacinia et erat. Aenean nec dignissim arcu. Phasellus pharetra accumsan placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3 col-stretch">
                                        <div class="k-iconbox k-iconbox--active">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-layers"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel laoreet in, lacinia et erat. Aenean nec dignissim arcu. Phasellus pharetra accumsan placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3 col-stretch">
                                        <div class="k-iconbox">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-placeholder-2"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel laoreet in, lacinia et erat. Aenean nec dignissim arcu. Phasellus pharetra accumsan placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Elevated Examples</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">
                        <div class="k-section">
                            <div class="k-section__info">An example of an iconbox with elevated tiles. Add <code>k-iconbox--elevate</code> to the <code>k-iconbox</code> element to add the shadow effect.</div>
                            <div class="k-section__content k-section__content--border">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--elevate">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-upload-1"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--elevate">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-share"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--elevate">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-background"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--active k-iconbox--elevate">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-like"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">State Colors Examples</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">
                        <div class="k-section">
                            <div class="k-section__info">An example of an iconbox with different state colors. Add <code>k-iconbox--[state]</code> to the <code>k-iconbox</code> element to change colors.</div>
                            <div class="k-section__content k-section__content--border">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--active k-iconbox--danger">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-upload-1"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--warning">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-share"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--accent">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-background"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="k-iconbox k-iconbox--success">
                                            <div class="k-iconbox__icon">
                                                <div class="k-iconbox__icon-bg"></div>
                                                <i class="flaticon-like"></i>
                                            </div>
                                            <div class="k-iconbox__title">
                                                Anim pariatur cliche
                                            </div>
                                            <div class="k-iconbox__content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, euismod vel
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content Body -->
</div>

<!-- end:: Content -->