<%layout(id)%>
<!-- begin:: Content -->
<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor" id="k_content">

    <!-- begin:: Content Head -->
    <div class="k-content__head	k-grid__item">
        <div class="k-content__head-main">
            <h3 class="k-content__head-title">Navs</h3>
            <div class="k-content__head-breadcrumbs">
                <a href="#" class="k-content__head-breadcrumb-home"><i class="flaticon2-shelter"></i></a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Components</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Navs</a>

                <!-- <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">Active link</span> -->
            </div>
        </div>
        <div class="k-content__head-toolbar">
            <div class="k-content__head-wrapper">
                <div class="dropdown dropdown-inline k-hide" data-toggle="k-tooltip" title="Quick actions" data-placement="left">
                    <button type="button" class="btn btn-sm btn-elevate btn-danger btn-bold btn-upper dropdown-toggle-" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
                        <a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
                        <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-elevate btn-brand" id="k_dashboard_daterangepicker" data-toggle="k-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="k-font-bold" id="k_dashboard_daterangepicker_date">Aug 16</span>
                    <i class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content Body -->
    <div class="k-content__body	k-grid__item k-grid__item--fluid" id="k_content_body">
        <div class="row">
            <div class="col-xl-4">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Basic Nav</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">

                        <!--begin::Section-->
                        <div class="k-section">
                            <div class="k-section__content k-section__content--x-fit k-section__content--border">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-text">Messages</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--danger k-badge--inline k-badge--pill">new</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">Support</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--success k-badge--inline">23</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--end::Section-->
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-text">Messages</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--danger k-badge--inline k-badge--pill">new</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">Support</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--success k-badge--inline">23</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">With Icons</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">

                        <!--begin::Section-->
                        <div class="k-section">
                            <div class="k-section__content k-section__content--border k-section__content--x-fit">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-share"></i>
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-chat-1"></i>
                                            <span class="k-nav__link-text">Messages</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--danger k-badge--inline k-badge--rounded">new</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-info"></i>
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-cogwheel-2"></i>
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="k-nav__link-text">Support</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--success k-badge--inline">23</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--end::Section-->
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-share"></i>
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-chat-1"></i>
                                            <span class="k-nav__link-text">Messages</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--danger k-badge--inline k-badge--rounded">new</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-info"></i>
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-cogwheel-2"></i>
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="k-nav__link-text">Support</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--success k-badge--inline">23</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Basic Nav with Active Background</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">

                        <!--begin::Section-->
                        <div class="k-section">
                            <div class="k-section__content k-section__content--x-fit k-section__content--border">
                                <ul class="k-nav k-nav--v2">
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-text ">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-text">Messages</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item k-nav__item--active">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">Support</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--end::Section-->
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-text">Messages</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--danger k-badge--inline k-badge--pill">new</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-text">Support</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--success k-badge--inline">23</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Grid Nav v2</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">
                        <div class="k-section">
                            <div class="k-section__content   k-section__content--border">
                                <div class="k-grid-nav-v2">
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Orders</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Uploades</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Products</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Customers</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Blog Posts</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Settings</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu dropdown-menu-xl k-padding-l-15 k-padding-r-15">
                                <div class="k-grid-nav-v2">
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Orders</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Uploades</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Products</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Customers</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Blog Posts</div>
                                    </a>
                                    <a href="#" class="k-grid-nav-v2__item">
                                        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                                        <div class="k-grid-nav-v2__item-title">Settings</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">With Bullets</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">

                        <!--begin::Section-->
                        <div class="k-section">
                            <div class="k-section__content k-section__content--x-fit k-section__content--border">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--dot"><span></span></span>
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--dot"><span></span></span>
                                            <span class="k-nav__link-text">Messages</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--focus k-badge--inline k-badge--pill">new</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                            <span class="k-nav__link-text">Support</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--info k-badge--inline">23</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--end::Section-->
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--dot"><span></span></span>
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item k-nav__item--active">
                                        <a href="#" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--dot"><span></span></span>
                                            <span class="k-nav__link-text">Messages</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--focus k-badge--inline k-badge--pill">new</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                            <span class="k-nav__link-text">Support</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--info k-badge--inline">23</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Section and Separator</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">

                        <!--begin::Section-->
                        <div class="k-section">
                            <div class="k-section__content k-section__content--x-fit k-section__content--border">
                                <ul class="k-nav">
                                    <li class="k-nav__section k-nav__section--first">
                                        <span class="k-nav__section-text">Section 1</span>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-refresh"></i>
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-cube-1"></i>
                                            <span class="k-nav__link-text">Messages</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-rocket-travelling-space-transport"></i>
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__section">
                                        <span class="k-nav__section-text">Section 2</span>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-help"></i>
                                            <span class="k-nav__link-text">Support</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-gear"></i>
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-console"></i>
                                            <span class="k-nav__link-text">Logs</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__separator k-nav__separator--fit">
                                    </li>
                                    <li class="k-nav__item k-nav__item--custom">
                                        <a href="#" class="btn btn-outline-danger k-btn k-btn--pill k-btn--wide btn-sm">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--end::Section-->
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu">
                                <ul class="k-nav">
                                    <li class="k-nav__section k-nav__section--first">
                                        <span class="k-nav__section-text">Section 1</span>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-refresh"></i>
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-cube-1"></i>
                                            <span class="k-nav__link-text">Messages</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-rocket-travelling-space-transport"></i>
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__section">
                                        <span class="k-nav__section-text">Section 2</span>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-help"></i>
                                            <span class="k-nav__link-text">Support</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-gear"></i>
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-console"></i>
                                            <span class="k-nav__link-text">Logs</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__separator k-nav__separator--fit">
                                    </li>
                                    <li class="k-nav__item k-nav__item--custom">
                                        <a href="#" class="btn btn-outline-danger k-btn k-btn--pill k-btn--wide btn-sm">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Grid Nav</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">

                        <!--begin::Section-->
                        <div class="k-section">
                            <div class="k-section__content k-section__content--fit k-section__content--border">
                                <div class="k-grid-nav">
                                    <a href="#" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-computer"></i></div>
                                        <div class="k-grid-nav__item-title">Customers</div>
                                        <div class="k-grid-nav__item-desc">per department</div>
                                    </a>
                                    <a href="#" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-business"></i></div>
                                        <div class="k-grid-nav__item-title">Orders</div>
                                        <div class="k-grid-nav__item-desc">latest orders</div>
                                    </a>
                                    <a href="#" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-line-graph"></i></div>
                                        <div class="k-grid-nav__item-title">Reports</div>
                                        <div class="k-grid-nav__item-desc">finance & accounting</div>
                                    </a>
                                    <a href="#" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-settings"></i></div>
                                        <div class="k-grid-nav__item-title">Administration</div>
                                        <div class="k-grid-nav__item-desc">settings and logs</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--end::Section-->
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg">
                                <div class="k-grid-nav">
                                    <a href="#" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-computer"></i></div>
                                        <div class="k-grid-nav__item-title">Customers</div>
                                        <div class="k-grid-nav__item-desc">per department</div>
                                    </a>
                                    <a href="#" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-business"></i></div>
                                        <div class="k-grid-nav__item-title">Orders</div>
                                        <div class="k-grid-nav__item-desc">latest orders</div>
                                    </a>
                                    <a href="#" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-line-graph"></i></div>
                                        <div class="k-grid-nav__item-title">Reports</div>
                                        <div class="k-grid-nav__item-desc">finance & accounting</div>
                                    </a>
                                    <a href="#" class="k-grid-nav__item">
                                        <div class="k-grid-nav__item-icon"><i class="flaticon-settings"></i></div>
                                        <div class="k-grid-nav__item-title">Administration</div>
                                        <div class="k-grid-nav__item-desc">settings and logs</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->
            </div>
            <div class="col-xl-4">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">Active and disabled links</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">

                        <!--begin::Section-->
                        <div class="k-section">
                            <div class="k-section__content k-section__content--x-fit k-section__content--border">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-chat-1"></i>
                                            <span class="k-nav__link-text">Default</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item k-nav__item--active">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-share"></i>
                                            <span class="k-nav__link-text">Active</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item k-nav__item--disabled">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-info"></i>
                                            <span class="k-nav__link-text">Disabled</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--end::Section-->
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu">
                                <ul class="k-nav">
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-chat-1"></i>
                                            <span class="k-nav__link-text">Default</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item k-nav__item--active">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-share"></i>
                                            <span class="k-nav__link-text">Active</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item k-nav__item--disabled">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon-info"></i>
                                            <span class="k-nav__link-text">Disabled</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title"> Sub Nav</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">
                        <div class="k-section">
                            <div class="k-section__content k-section__content--x-fit k-section__content--border">
                                <ul class="k-nav k-nav--active-bg" id="m_nav" role="tablist">
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-psd"></i>
                                            <span class="k-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item k-nav__item--sub">
                                        <a class="k-nav__link" role="tab" id="m_nav_link_1" data-toggle="collapse" href="#m_nav_sub_1" aria-expanded=" false">
                                            <i class="k-nav__link-icon flaticon2-supermarket"></i>
                                            <span class="k-nav__link-text">Messages</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--danger k-badge--inline k-badge--rounded">new</span>
                                            </span>
                                            <span class="k-nav__link-arrow"></span>
                                        </a>
                                        <ul class="k-nav__sub collapse show" id="m_nav_sub_1" role="tabpanel" aria-labelledby="m_nav_link_1" data-parent="#m_nav">
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                    <span class="k-nav__link-text">New</span>
                                                </a>
                                            </li>
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                    <span class="k-nav__link-text">Pending</span>
                                                    <span class="k-nav__link-badge">
                                                        <span class="k-badge k-badge--warning">3</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                    <span class="k-nav__link-text">Replied</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-shopping-cart"></i>
                                            <span class="k-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item k-nav__item--sub">
                                        <a class="k-nav__link collapsed" role="tab" id="m_nav_link_2" data-toggle="collapse" href="#m_nav_sub_2" aria-expanded="  false">
                                            <i class="k-nav__link-icon flaticon2-chart2"></i>
                                            <span class="k-nav__link-text">Reports</span>
                                            <span class="k-nav__link-badge">
                                                <span class="k-badge k-badge--danger k-badge--inline k-badge--rounded">new</span>
                                            </span>
                                            <span class="k-nav__link-arrow"></span>
                                        </a>
                                        <ul class="k-nav__sub collapse" id="m_nav_sub_2" role="tabpanel" aria-labelledby="m_nav_link_2" data-parent="#m_nav">
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                    <span class="k-nav__link-text">New</span>
                                                </a>
                                            </li>
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                    <span class="k-nav__link-text">Pending</span>
                                                    <span class="k-nav__link-badge">
                                                        <span class="k-badge k-badge--warning">3</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                    <span class="k-nav__link-text">Replied</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="k-nav__item">
                                        <a href="" class="k-nav__link">
                                            <i class="k-nav__link-icon flaticon2-sms"></i>
                                            <span class="k-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                            <div class="dropdown">
                                <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown Nav
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg">
                                    <form>
                                        <ul class="k-nav k-nav--active-bg" id="m_nav_1" role="tablist">
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <i class="k-nav__link-icon flaticon2-psd"></i>
                                                    <span class="k-nav__link-text">Activity</span>
                                                </a>
                                            </li>
                                            <li class="k-nav__item k-nav__item--sub">
                                                <a class="k-nav__link" role="tab" id="m_nav_link_1" data-toggle="collapse" href="#m_nav_sub_1" aria-expanded=" false">
                                                    <i class="k-nav__link-icon flaticon2-supermarket"></i>
                                                    <span class="k-nav__link-text">Messages</span>
                                                    <span class="k-nav__link-badge">
                                                        <span class="k-badge k-badge--danger k-badge--inline k-badge--rounded">new</span>
                                                    </span>
                                                    <span class="k-nav__link-arrow"></span>
                                                </a>
                                                <ul class="k-nav__sub collapse show" id="m_nav_sub_1" role="tabpanel" aria-labelledby="m_nav_link_1" data-parent="#m_nav">
                                                    <li class="k-nav__item">
                                                        <a href="" class="k-nav__link">
                                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                            <span class="k-nav__link-text">New</span>
                                                        </a>
                                                    </li>
                                                    <li class="k-nav__item">
                                                        <a href="" class="k-nav__link">
                                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                            <span class="k-nav__link-text">Pending</span>
                                                            <span class="k-nav__link-badge">
                                                                <span class="k-badge k-badge--warning">3</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="k-nav__item">
                                                        <a href="" class="k-nav__link">
                                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                            <span class="k-nav__link-text">Replied</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <i class="k-nav__link-icon flaticon2-shopping-cart"></i>
                                                    <span class="k-nav__link-text">FAQ</span>
                                                </a>
                                            </li>
                                            <li class="k-nav__item k-nav__item--sub">
                                                <a class="k-nav__link collapsed" role="tab" id="m_nav_link_2" data-toggle="collapse" href="#m_nav_sub_2" aria-expanded="  false">
                                                    <i class="k-nav__link-icon flaticon2-chart2"></i>
                                                    <span class="k-nav__link-text">Reports</span>
                                                    <span class="k-nav__link-badge">
                                                        <span class="k-badge k-badge--danger k-badge--inline k-badge--rounded">new</span>
                                                    </span>
                                                    <span class="k-nav__link-arrow"></span>
                                                </a>
                                                <ul class="k-nav__sub collapse" id="m_nav_sub_2" role="tabpanel" aria-labelledby="m_nav_link_2" data-parent="#m_nav">
                                                    <li class="k-nav__item">
                                                        <a href="" class="k-nav__link">
                                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                            <span class="k-nav__link-text">New</span>
                                                        </a>
                                                    </li>
                                                    <li class="k-nav__item">
                                                        <a href="" class="k-nav__link">
                                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                            <span class="k-nav__link-text">Pending</span>
                                                            <span class="k-nav__link-badge">
                                                                <span class="k-badge k-badge--warning">3</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="k-nav__item">
                                                        <a href="" class="k-nav__link">
                                                            <span class="k-nav__link-bullet k-nav__link-bullet--line"><span></span></span>
                                                            <span class="k-nav__link-text">Replied</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="k-nav__item">
                                                <a href="" class="k-nav__link">
                                                    <i class="k-nav__link-icon flaticon2-sms"></i>
                                                    <span class="k-nav__link-text">Settings</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title"> Styled Nav with Active Background</h3>
                        </div>
                    </div>
                    <div class="k-portlet__body">
                        <div class="k-section">
                            <div class="k-section__content k-section__content--x-fit k-section__content--border">
                                <ul class="k-nav k-nav--bold k-nav--md-space k-nav--v3 k-margin-t-20 k-margin-b-20 nav nav-tabs" role="tablist">
                                    <li class="k-nav__item">
                                        <a class="k-nav__link active" data-toggle="tab" href="#k_profile_tab_personal_information" role="tab">
                                            <span class="k-nav__link-icon"><i class="flaticon2-user"></i></span>
                                            <span class="k-nav__link-text">Personal Information</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" data-toggle="tab" href="#k_profile_tab_account_information" role="tab">
                                            <span class="k-nav__link-icon"><i class="flaticon-feed"></i></span>
                                            <span class="k-nav__link-text">Acccount Information</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" data-toggle="tab" href="#k_profile_change_password" role="tab">
                                            <span class="k-nav__link-icon"><i class="flaticon2-settings"></i></span>
                                            <span class="k-nav__link-text">Change Password</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" data-toggle="tab" href="#k_profile_email_settings" role="tab">
                                            <span class="k-nav__link-icon"><i class="flaticon2-chart2"></i></span>
                                            <span class="k-nav__link-text">Email Settings</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                            <span class="k-nav__link-icon"><i class="flaticon-safe-shield-protection"></i></span>
                                            <span class="k-nav__link-text">Saved Credit Cards</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                            <span class="k-nav__link-icon"><i class="flaticon-download-1"></i></span>
                                            <span class="k-nav__link-text">Social Networks</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__separator"></li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                            <span class="k-nav__link-icon"><i class="flaticon-security"></i></span>
                                            <span class="k-nav__link-text">Tax Information</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                            <span class="k-nav__link-icon"><i class="flaticon2-cup"></i></span>
                                            <span class="k-nav__link-text">Purchases</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                            <span class="k-nav__link-icon"><i class="flaticon2-shopping-cart"></i></span>
                                            <span class="k-nav__link-text">Statements</span>
                                        </a>
                                    </li>
                                    <li class="k-nav__item">
                                        <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                            <span class="k-nav__link-icon"><i class="flaticon2-safe"></i></span>
                                            <span class="k-nav__link-text">Audit Log</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="k-separator k-separator--border-dashed k-separator--space-lg"></div>
                        <div class="dropdown">
                            <button type="button" class="btn btn-default btn-bold btn-font-sm btn-upper dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Nav
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg">
                                <form>
                                    <ul class="k-nav k-nav--bold k-nav--md-space k-nav--v3 k-margin-t-20 k-margin-b-20 nav nav-tabs" role="tablist">
                                        <li class="k-nav__item">
                                            <a class="k-nav__link active" data-toggle="tab" href="#k_profile_tab_personal_information" role="tab">
                                                <span class="k-nav__link-icon"><i class="flaticon2-user"></i></span>
                                                <span class="k-nav__link-text">Personal Information</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" data-toggle="tab" href="#k_profile_tab_account_information" role="tab">
                                                <span class="k-nav__link-icon"><i class="flaticon-feed"></i></span>
                                                <span class="k-nav__link-text">Acccount Information</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" data-toggle="tab" href="#k_profile_change_password" role="tab">
                                                <span class="k-nav__link-icon"><i class="flaticon2-settings"></i></span>
                                                <span class="k-nav__link-text">Change Password</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" data-toggle="tab" href="#k_profile_email_settings" role="tab">
                                                <span class="k-nav__link-icon"><i class="flaticon2-chart2"></i></span>
                                                <span class="k-nav__link-text">Email Settings</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                                <span class="k-nav__link-icon"><i class="flaticon-safe-shield-protection"></i></span>
                                                <span class="k-nav__link-text">Saved Credit Cards</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                                <span class="k-nav__link-icon"><i class="flaticon-download-1"></i></span>
                                                <span class="k-nav__link-text">Social Networks</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__separator"></li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                                <span class="k-nav__link-icon"><i class="flaticon-security"></i></span>
                                                <span class="k-nav__link-text">Tax Information</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                                <span class="k-nav__link-icon"><i class="flaticon2-cup"></i></span>
                                                <span class="k-nav__link-text">Purchases</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                                <span class="k-nav__link-icon"><i class="flaticon2-shopping-cart"></i></span>
                                                <span class="k-nav__link-text">Statements</span>
                                            </a>
                                        </li>
                                        <li class="k-nav__item">
                                            <a class="k-nav__link" href="#" role="tab" data-toggle="k-tooltip" title="This feature is coming soon!" data-placement="right">
                                                <span class="k-nav__link-icon"><i class="flaticon2-safe"></i></span>
                                                <span class="k-nav__link-text">Audit Log</span>
                                            </a>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content Body -->
</div>

<!-- end:: Content -->