    <!-- begin:: Aside Secondary -->
    <!--<button class="k-aside-secondary-close k-hide " id="k_aside_secondary_close_btn"><i class="la la-close"></i></button>-->
    <div class="k-aside-secondary" id="k_aside_secondary">
        <div class="k-aside-secondary__toggle" id="k_aside_secondary_toggler"></div>
        <button class="k-aside-secondary__mobile-nav-toggler" id="k_aside_secondary_mobile_nav_toggler" data-toggle="k-tooltip" title="Aside Secondary" data-placement="left"></button>
        <div class="k-aside-secondary__content">
            <button class="btn btn-sm btn-circle btn-icon k-aside-secondary__close" id="k_aside_secondary_close" data-toggle="tooltip" title="Layout Builder" data-placement="Events">
                <i class="la la-close"></i>
            </button>
            <div class="tab-content">
                <div class="tab-pane fade" id="k_aside_secondary_tab_1" role="tabpanel">
                    <div class="k-aside-secondary__content-head">
                        Create Event
                    </div>
                    <div class="k-aside-secondary__content-body k-scroll">
                        <form class="k-form">
                            <div class="k-section k-section--first">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="email" class="form-control" placeholder="Enter full name">
                                    <span class="form-text text-muted">Please enter your event name</span>
                                </div>
                                <div class="form-group">
                                    <label>Location:</label>
                                    <input type="email" class="form-control" placeholder="Enter email">
                                    <span class="form-text text-muted">Please enter event location</span>
                                </div>
                                <div class="form-group">
                                    <label>Budget</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon2">$</span></div>
                                        <input type="text" class="form-control" placeholder="321,999.99">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Channels:</label>
                                    <div class="k-checkbox-list">
                                        <label class="k-checkbox">
                                            <input type="checkbox"> Email
                                            <span></span>
                                        </label>
                                        <label class="k-checkbox">
                                            <input type="checkbox"> SMS
                                            <span></span>
                                        </label>
                                        <label class="k-checkbox">
                                            <input type="checkbox"> Phone
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="k-form__actions">
                                <button type="reset" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="k_aside_secondary_tab_2" role="tabpanel">
                    <div class="k-aside-secondary__content-head">
                        New Report
                    </div>
                    <div class="k-aside-secondary__content-body k-scroll">
                        <form class="k-form">
                            <div class="k-section k-section--first">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="email" class="form-control" placeholder="Enter full name">
                                    <span class="form-text text-muted">Please enter report name</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelect">Category:</label>
                                    <select class="form-control" id="exampleSelect">
                                        <option>Finance</option>
                                        <option>Sales</option>
                                        <option>System</option>
                                        <option>Customers</option>
                                        <option>Orders</option>
                                    </select>
                                    <span class="form-text text-muted">Please select report category</span>
                                </div>
                                <div class="form-group">
                                    <label>Revenue:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">#</span></div>
                                        <input type="text" class="form-control" placeholder="Units" aria-describedby="basic-addon1">
                                        <div class="input-group-append"><span class="input-group-text">$</span></div>
                                    </div>
                                    <span class="form-text text-muted">Please enter treshhold name</span>
                                </div>
                                <div class="form-group">
                                    <label>Filter:</label>
                                    <div class="k-checkbox-list">
                                        <label class="k-checkbox">
                                            <input type="checkbox"> Pending transations
                                            <span></span>
                                        </label>
                                        <label class="k-checkbox">
                                            <input type="checkbox"> Include margins
                                            <span></span>
                                        </label>
                                        <label class="k-checkbox">
                                            <input type="checkbox"> Include balance
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="k-form__actions">
                                <button type="reset" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="k_aside_secondary_tab_3" role="tabpanel">
                    <div class="k-aside-secondary__content-head">
                        Notifications
                    </div>
                    <div class="k-aside-secondary__content-body k-aside-secondary__content-body--fit-x k-scroll">
                        <div class="k-notification">
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-time-2"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        New order has been received
                                    </div>
                                    <div class="k-notification__item-time">
                                        2 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-upload-1"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        New customer is registered
                                    </div>
                                    <div class="k-notification__item-time">
                                        3 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-interface-8"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        Application has been approved
                                    </div>
                                    <div class="k-notification__item-time">
                                        3 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-file"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        New file has been uploaded
                                    </div>
                                    <div class="k-notification__item-time">
                                        5 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-user"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        New user feedback received
                                    </div>
                                    <div class="k-notification__item-time">
                                        8 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-cogwheel"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        System reboot has been successfully completed
                                    </div>
                                    <div class="k-notification__item-time">
                                        12 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-light"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        New order has been placed
                                    </div>
                                    <div class="k-notification__item-time">
                                        15 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item k-notification__item--read">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-interface-2"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        Company meeting canceled
                                    </div>
                                    <div class="k-notification__item-time">
                                        19 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-diagram"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        New report has been received
                                    </div>
                                    <div class="k-notification__item-time">
                                        23 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-pie-chart"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        Finance report has been generated
                                    </div>
                                    <div class="k-notification__item-time">
                                        25 hrs ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-speech-bubble-1"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        New customer comment recieved
                                    </div>
                                    <div class="k-notification__item-time">
                                        2 days ago
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="k-notification__item">
                                <div class="k-notification__item-icon">
                                    <i class="flaticon-warning"></i>
                                </div>
                                <div class="k-notification__item-details">
                                    <div class="k-notification__item-title">
                                        New customer is registered
                                    </div>
                                    <div class="k-notification__item-time">
                                        3 days ago
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="k-aside-secondary__nav k-grid k-grid--hor">
            <div class="k-grid__item k-grid__item--fluid k-aside-secondary__nav-body">
                <ul class="k-aside-secondary__nav-toolbar nav nav-tabs" role="tablist" id="k_aside_secondary_nav">
                    <li class="k-aside-secondary__nav-toolbar-item nav-item" data-toggle="k-tooltip" title="Events" data-placement="left">
                        <a class="k-aside-secondary__nav-toolbar-icon nav-link" data-toggle="tab" href="#k_aside_secondary_tab_1" role="tab">
                            <i class="flaticon2-box k-font-brand"></i>
                            <span class="k-badge k-badge--dot k-badge--md k-badge--danger"></span>
                        </a>
                    </li>
                    <li class="k-aside-secondary__nav-toolbar-item nav-item" data-toggle="k-tooltip" title="Reports" data-placement="left">
                        <a class="k-aside-secondary__nav-toolbar-icon nav-link" data-toggle="tab" href="#k_aside_secondary_tab_2" role="tab">
                            <i class="flaticon2-chart k-font-danger"></i>
                        </a>
                    </li>
                    <li class="k-aside-secondary__nav-toolbar-item nav-item" data-toggle="k-tooltip" title="Notifications" data-placement="left">
                        <a class="k-aside-secondary__nav-toolbar-icon nav-link" data-toggle="tab" href="#k_aside_secondary_tab_3" role="tab">
                            <i class="flaticon-rotate k-font-success"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="k-grid__item k-aside-secondary__nav-foot">
                <ul class="k-aside-secondary__nav-toolbar">
                    <li class="k-aside-secondary__nav-toolbar-item" data-toggle="k-tooltip" title="Quick menu" data-placement="left">
                        <a class="k-aside-secondary__nav-toolbar-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-exclamation-circle k-font-warning"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <ul class="k-nav">
                                <li class="k-nav__section k-nav__section--first">
                                    <span class="k-nav__section-text">Quick Links</span>
                                </li>
                                <li class="k-nav__item">
                                    <a href="https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/" class="k-nav__link">
                                        <i class="k-nav__link-icon fa fa-donate"></i>
                                        <span class="k-nav__link-text">Purchase Keen</span>
                                    </a>
                                </li>
                                <li class="k-nav__item">
                                    <a href="https://keenthemes.com/keen/?page=docs" class="k-nav__link">
                                        <i class="k-nav__link-icon fa fa-book"></i>
                                        <span class="k-nav__link-text">Documentation</span>
                                    </a>
                                </li>
                                <li class="k-nav__item">
                                    <a href="https://keenthemes.com/keen/preview/default/builder.html" target="_blank" class="k-nav__link">
                                        <i class="k-nav__link-icon fa fa-charging-station"></i>
                                        <span class="k-nav__link-text">Layout Builder</span>
                                    </a>
                                </li>
                                <li class="k-nav__item">
                                    <a href="https://keenthemes.com/support" class="k-nav__link" id="export_excel">
                                        <i class="k-nav__link-icon fa fa-headset"></i>
                                        <span class="k-nav__link-text">Theme Support</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- end:: Aside Secondary -->

    <!-- begin:: Topbar Offcanvas Panels -->

    <!-- begin::Offcanvas Toolbar Search -->
    <div id="k_offcanvas_toolbar_search" class="k-offcanvas-panel">
        <div class="k-offcanvas-panel__head">
            <h3 class="k-offcanvas-panel__title">
                Search
            </h3>
            <a href="#" class="k-offcanvas-panel__close" id="k_offcanvas_toolbar_search_close"><i class="flaticon2-delete"></i></a>
        </div>
        <div class="k-offcanvas-panel__body">
            <div class="k-search">
                <div class="k-search__form">
                    <form action="#" method="get">
                        <input type="text" name="query" class="form-control" placeholder="Type here...">
                    </form>
                </div>
                <div class="k-search__result">
                    <div class="k-search__section">
                        Documents
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-img k-search__item-img--file">
                            <img src="/theme/default/dist/default/assets/media/files/doc.svg" alt="" />
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                AirPlus Requirements
                            </a>
                            <div class="k-search__item-desc">
                                by Grog John
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-img k-search__item-img--file">
                            <img src="/theme/default/dist/default/assets/media/files/pdf.svg" alt="" />
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                TechNav Documentation
                            </a>
                            <div class="k-search__item-desc">
                                by Mary Broun
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-img k-search__item-img--file">
                            <img src="/theme/default/dist/default/assets/media/files/zip.svg" alt="" />
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                All Framework Docs
                            </a>
                            <div class="k-search__item-desc">
                                by Grog John
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-img k-search__item-img--file">
                            <img src="/theme/default/dist/default/assets/media/files/xml.svg" alt="" />
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                AirPlus Requirements
                            </a>
                            <div class="k-search__item-desc">
                                by Grog John
                            </div>
                        </div>
                    </div>
                    <div class="k-search__section">
                        Members
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-img">
                            <img src="/theme/default/dist/default/assets/media/users/300_14.jpg" alt="" />
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                Jimmy Curry
                            </a>
                            <div class="k-search__item-desc">
                                Software Developer
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-img">
                            <img src="/theme/default/dist/default/assets/media/users/300_20.jpg" alt="" />
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                Milena Gibson
                            </a>
                            <div class="k-search__item-desc">
                                UI Designer
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-img">
                            <img src="/theme/default/dist/default/assets/media/users/300_21.jpg" alt="" />
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                Stefan JohnStefan
                            </a>
                            <div class="k-search__item-desc">
                                Marketing Manager
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-img">
                            <img src="/theme/default/dist/default/assets/media/users/300_2.jpg" alt="" />
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                Anna Strong
                            </a>
                            <div class="k-search__item-desc">
                                Software Developer
                            </div>
                        </div>
                    </div>
                    <div class="k-search__section">
                        Files
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-icon">
                            <i class="flaticon2-box k-font-danger"></i>
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                2 New items submitted
                            </a>
                            <div class="k-search__item-desc">
                                Marketing Manager
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-icon">
                            <i class="flaticon-psd k-font-brand"></i>
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                79 PSD files generated
                            </a>
                            <div class="k-search__item-desc">
                                by Grog John
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-icon">
                            <i class="flaticon2-supermarket k-font-warning"></i>
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                $2900 worth products sold
                            </a>
                            <div class="k-search__item-desc">
                                Total 234 items
                            </div>
                        </div>
                    </div>
                    <div class="k-search__item">
                        <div class="k-search__item-icon">
                            <i class="flaticon-safe-shield-protection k-font-info"></i>
                        </div>
                        <div class="k-search__item-wrapper">
                            <a href="#" class="k-search__item-title">
                                4 New items submitted
                            </a>
                            <div class="k-search__item-desc">
                                Marketing Manager
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end::Offcanvas Toolbar Search -->

    <!-- begin::Offcanvas Toolbar Quick Actions -->
    <div id="k_offcanvas_toolbar_quick_actions" class="k-offcanvas-panel">
        <div class="k-offcanvas-panel__head">
            <h3 class="k-offcanvas-panel__title">
                Quick Actions
            </h3>
            <a href="#" class="k-offcanvas-panel__close" id="k_offcanvas_toolbar_quick_actions_close"><i class="flaticon2-delete"></i></a>
        </div>
        <div class="k-offcanvas-panel__body">
            <div class="k-grid-nav-v2">
                <a href="#" class="k-grid-nav-v2__item">
                    <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                    <div class="k-grid-nav-v2__item-title">Orders</div>
                </a>
                <a href="#" class="k-grid-nav-v2__item">
                    <div class="k-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                    <div class="k-grid-nav-v2__item-title">Uploades</div>
                </a>
                <a href="#" class="k-grid-nav-v2__item">
                    <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                    <div class="k-grid-nav-v2__item-title">Products</div>
                </a>
                <a href="#" class="k-grid-nav-v2__item">
                    <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                    <div class="k-grid-nav-v2__item-title">Customers</div>
                </a>
                <a href="#" class="k-grid-nav-v2__item">
                    <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                    <div class="k-grid-nav-v2__item-title">Blog Posts</div>
                </a>
                <a href="#" class="k-grid-nav-v2__item">
                    <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                    <div class="k-grid-nav-v2__item-title">Settings</div>
                </a>
            </div>
        </div>
    </div>

    <!-- end::Offcanvas Toolbar Quick Actions -->

    <!-- end:: Topbar Offcanvas Panels -->

    <!-- begin::Quick Panel -->
    <div id="k_quick_panel" class="k-quick-panel">
        <div class="k-quick-panel__nav">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#k_quick_panel_tab_notifications" role="tab">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#k_quick_panel_tab_actions" role="tab">Actions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#k_quick_panel_tab_settings" role="tab">Settings</a>
                </li>
            </ul>
            <button class="k-quick-panel__close" id="k_quick_panel_close_btn"><i class="la la-close"></i></button>
        </div>
        <div class="k-quick-panel__content">
            <div class="tab-content">
                <div class="tab-pane fade show k-scroll active" id="k_quick_panel_tab_notifications" role="tabpanel">

                    <!--Begin::Timeline -->
                    <div class="k-timeline">

                        <!--Begin::Item -->
                        <div class="k-timeline__item k-timeline__item--success">
                            <div class="k-timeline__item-section">
                                <div class="k-timeline__item-section-border">
                                    <div class="k-timeline__item-section-icon">
                                        <i class="flaticon-feed k-font-success"></i>
                                    </div>
                                </div>
                                <span class="k-timeline__item-datetime">02:30 PM</span>
                            </div>
                            <a href="" class="k-timeline__item-text">
                                KeenThemes created new layout whith tens of new options for Keen Admin panel
                            </a>
                            <div class="k-timeline__item-info">
                                HTML,CSS,VueJS
                            </div>
                        </div>

                        <!--End::Item -->

                        <!--Begin::Item -->
                        <div class="k-timeline__item k-timeline__item--danger">
                            <div class="k-timeline__item-section">
                                <div class="k-timeline__item-section-border">
                                    <div class="k-timeline__item-section-icon">
                                        <i class="flaticon-safe-shield-protection k-font-danger"></i>
                                    </div>
                                </div>
                                <span class="k-timeline__item-datetime">01:20 AM</span>
                            </div>
                            <a href="" class="k-timeline__item-text">
                                New secyrity alert by Firewall & order to take aktion on User Preferences
                            </a>
                            <div class="k-timeline__item-info">
                                Security, Fieewall
                            </div>
                        </div>

                        <!--End::Item -->

                        <!--Begin::Item -->
                        <div class="k-timeline__item k-timeline__item--brand">
                            <div class="k-timeline__item-section">
                                <div class="k-timeline__item-section-border">
                                    <div class="k-timeline__item-section-icon">
                                        <i class="flaticon2-box k-font-brand"></i>
                                    </div>
                                </div>
                                <span class="k-timeline__item-datetime">Yestardey</span>
                            </div>
                            <a href="" class="k-timeline__item-text">
                                FlyMore design mock-ups been uploadet by designers Bob, Naomi, Richard
                            </a>
                            <div class="k-timeline__item-info">
                                PSD, Sketch, AJ
                            </div>
                        </div>

                        <!--End::Item -->

                        <!--Begin::Item -->
                        <div class="k-timeline__item k-timeline__item--warning">
                            <div class="k-timeline__item-section">
                                <div class="k-timeline__item-section-border">
                                    <div class="k-timeline__item-section-icon">
                                        <i class="flaticon-pie-chart-1 k-font-warning"></i>
                                    </div>
                                </div>
                                <span class="k-timeline__item-datetime">Aug 13,2018</span>
                            </div>
                            <a href="" class="k-timeline__item-text">
                                Meeting with Ken Digital Corp ot Unit14, 3 Edigor Buildings, George Street, Loondon<br> England, BA12FJ
                            </a>
                            <div class="k-timeline__item-info">
                                Meeting, Customer
                            </div>
                        </div>

                        <!--End::Item -->

                        <!--Begin::Item -->
                        <div class="k-timeline__item k-timeline__item--info">
                            <div class="k-timeline__item-section">
                                <div class="k-timeline__item-section-border">
                                    <div class="k-timeline__item-section-icon">
                                        <i class="flaticon-notepad k-font-info"></i>
                                    </div>
                                </div>
                                <span class="k-timeline__item-datetime">May 09, 2018</span>
                            </div>
                            <a href="" class="k-timeline__item-text">
                                KeenThemes created new layout whith tens of new options for Keen Admin panel
                            </a>
                            <div class="k-timeline__item-info">
                                HTML,CSS,VueJS
                            </div>
                        </div>

                        <!--End::Item -->

                        <!--Begin::Item -->
                        <div class="k-timeline__item k-timeline__item--accent">
                            <div class="k-timeline__item-section">
                                <div class="k-timeline__item-section-border">
                                    <div class="k-timeline__item-section-icon">
                                        <i class="flaticon-bell k-font-accent"></i>
                                    </div>
                                </div>
                                <span class="k-timeline__item-datetime">01:20 AM</span>
                            </div>
                            <a href="" class="k-timeline__item-text">
                                New secyrity alert by Firewall & order to take aktion on User Preferences
                            </a>
                            <div class="k-timeline__item-info">
                                Security, Fieewall
                            </div>
                        </div>

                        <!--End::Item -->
                    </div>

                    <!--End::Timeline -->
                </div>
                <div class="tab-pane fade k-scroll" id="k_quick_panel_tab_actions" role="tabpanel">

                    <!--begin::Portlet-->
                    <div class="k-portlet k-portlet--solid-success">
                        <div class="k-portlet__head">
                            <div class="k-portlet__head-label">
                                <span class="k-portlet__head-icon k-hide"><i class="flaticon-stopwatch"></i></span>
                                <h3 class="k-portlet__head-title">Recent Bills</h3>
                            </div>
                            <div class="k-portlet__head-toolbar">
                                <div class="k-portlet__head-group">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="flaticon-more"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__body">
                            <div class="k-portlet__content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry.
                            </div>
                        </div>
                        <div class="k-portlet__foot k-portlet__foot--sm k-align-right">
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                        </div>
                    </div>

                    <!--end::Portlet-->

                    <!--begin::Portlet-->
                    <div class="k-portlet k-portlet--solid-focus">
                        <div class="k-portlet__head">
                            <div class="k-portlet__head-label">
                                <span class="k-portlet__head-icon k-hide"><i class="flaticon-stopwatch"></i></span>
                                <h3 class="k-portlet__head-title">Latest Orders</h3>
                            </div>
                            <div class="k-portlet__head-toolbar">
                                <div class="k-portlet__head-group">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="flaticon-more"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__body">
                            <div class="k-portlet__content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry.
                            </div>
                        </div>
                        <div class="k-portlet__foot k-portlet__foot--sm k-align-right">
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                        </div>
                    </div>

                    <!--end::Portlet-->

                    <!--begin::Portlet-->
                    <div class="k-portlet k-portlet--solid-info">
                        <div class="k-portlet__head">
                            <div class="k-portlet__head-label">
                                <h3 class="k-portlet__head-title">Latest Invoices</h3>
                            </div>
                            <div class="k-portlet__head-toolbar">
                                <div class="k-portlet__head-group">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="flaticon-more"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__body">
                            <div class="k-portlet__content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry.
                            </div>
                        </div>
                        <div class="k-portlet__foot k-portlet__foot--sm k-align-right">
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                        </div>
                    </div>

                    <!--end::Portlet-->

                    <!--begin::Portlet-->
                    <div class="k-portlet k-portlet--solid-warning">
                        <div class="k-portlet__head">
                            <div class="k-portlet__head-label">
                                <h3 class="k-portlet__head-title">New Comments</h3>
                            </div>
                            <div class="k-portlet__head-toolbar">
                                <div class="k-portlet__head-group">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="flaticon-more"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__body">
                            <div class="k-portlet__content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry.
                            </div>
                        </div>
                        <div class="k-portlet__foot k-portlet__foot--sm k-align-right">
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                        </div>
                    </div>

                    <!--end::Portlet-->

                    <!--begin::Portlet-->
                    <div class="k-portlet k-portlet--solid-brand">
                        <div class="k-portlet__head">
                            <div class="k-portlet__head-label">
                                <h3 class="k-portlet__head-title">Recent Posts</h3>
                            </div>
                            <div class="k-portlet__head-toolbar">
                                <div class="k-portlet__head-group">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="flaticon-more"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__body">
                            <div class="k-portlet__content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry.
                            </div>
                        </div>
                        <div class="k-portlet__foot k-portlet__foot--sm k-align-right">
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a>
                            <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a>
                        </div>
                    </div>

                    <!--end::Portlet-->
                </div>
                <div class="tab-pane fade k-scroll" id="k_quick_panel_tab_settings" role="tabpanel">
                    <form class="k-form">
                        <div class="k-heading k-heading--space-sm">Notifications</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable notifications:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_1">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable audit log:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_2">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Notify on new orders:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_2">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="k-separator k-separator--space-md k-separator--border-dashed"></div>
                        <div class="k-heading k-heading--space-sm">Orders</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable order tracking:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm k-switch--danger">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_3">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable orders reports:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm k-switch--danger">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_3">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Allow order status auto update:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm k-switch--danger">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_4">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="k-separator k-separator--space-md k-separator--border-dashed"></div>
                        <div class="k-heading k-heading--space-sm">Customers</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable customer singup:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm k-switch--success">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_5">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable customers reporting:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm k-switch--success">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_5">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Notifiy on new customer registration:</label>
                            <div class="col-4 k-align-right">
                                <span class="k-switch k-switch--sm k-switch--success">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_6">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end::Quick Panel -->

    <!-- begin::Scrolltop -->
    <div id="k_scrolltop" class="k-scrolltop">
        <i class="la la-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->

        <!-- begin::Demo Panel -->
    <div class="k-demo-panel-toggle" id="k_demo_panel_toggle" data-toggle="k-tooltip" title="Check out more demos" data-placement="right">
        <span class="">Demos</span>
    </div>
    <div id="k_demo_panel" class="k-demo-panel">
        <div class="k-demo-panel__head">
            <h3 class="k-demo-panel__title">
                Select A Demo

                <!--<small>5</small>-->
            </h3>
            <a href="#" class="k-demo-panel__close" id="k_demo_panel_close"><i class="flaticon2-delete"></i></a>
        </div>
        <div class="k-demo-panel__body">
            <div class="k-demo-panel__item k-demo-panel__item--active">
                <div class="k-demo-panel__item-title">
                    Default
                </div>
                <div class="k-demo-panel__item-preview">
                    <img src="/theme/default/dist/default/assets/media/demos-mini/default.png" alt="" />
                    <div class="k-demo-panel__item-preview-overlay">
                        <a href="../default/index.html" class="btn btn-brand btn-elevate" target="_blank">Preview</a>
                    </div>
                </div>
            </div>
            <div class="k-demo-panel__item ">
                <div class="k-demo-panel__item-title">
                    Demo 2
                </div>
                <div class="k-demo-panel__item-preview">
                    <img src="/theme/default/dist/default/assets/media/demos-mini/demo2.png" alt="" />
                    <div class="k-demo-panel__item-preview-overlay">
                        <a href="../demo2/index.html" class="btn btn-brand btn-elevate" target="_blank">Preview</a>
                    </div>
                </div>
            </div>
            <div class="k-demo-panel__item ">
                <div class="k-demo-panel__item-title">
                    Demo 3
                </div>
                <div class="k-demo-panel__item-preview">
                    <img src="/theme/default/dist/default/assets/media/demos-mini/demo3.png" alt="" />
                    <div class="k-demo-panel__item-preview-overlay">
                        <a href="../demo3/index.html" class="btn btn-brand btn-elevate" target="_blank">Preview</a>
                    </div>
                </div>
            </div>
            <div class="k-demo-panel__item ">
                <div class="k-demo-panel__item-title">
                    Demo 4
                </div>
                <div class="k-demo-panel__item-preview">
                    <img src="/theme/default/dist/default/assets/media/demos-mini/demo4.png" alt="" />
                    <div class="k-demo-panel__item-preview-overlay">
                        <a href="../demo4/index.html" class="btn btn-brand btn-elevate" target="_blank">Preview</a>
                    </div>
                </div>
            </div>
            <div class="k-demo-panel__item ">
                <div class="k-demo-panel__item-title">
                    Demo 5
                </div>
                <div class="k-demo-panel__item-preview">
                    <img src="/theme/default/dist/default/assets/media/demos-mini/demo5.png" alt="" />
                    <div class="k-demo-panel__item-preview-overlay">
                        <a href="../demo5/index.html" class="btn btn-brand btn-elevate" target="_blank">Preview</a>
                    </div>
                </div>
            </div>
            <a href="https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/" target="_blank" class="k-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">
                Buy Keen Now!
            </a>
        </div>
    </div>

    <!-- end::Demo Panel -->