<%layout(id)%>
<!-- begin:: Content -->
<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor" id="k_content">

    <!-- begin:: Content Head -->
    <div class="k-content__head	k-grid__item">
        <div class="k-content__head-main">
            <h3 class="k-content__head-title">Multi Column Forms</h3>
            <div class="k-content__head-breadcrumbs">
                <a href="#" class="k-content__head-breadcrumb-home"><i class="flaticon2-shelter"></i></a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Extended</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Forms</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Layouts</a>
                <span class="k-content__head-breadcrumb-separator"></span>
                <a href="" class="k-content__head-breadcrumb-link">Multi Column</a>

                <!-- <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">Active link</span> -->
            </div>
        </div>
        <div class="k-content__head-toolbar">
            <div class="k-content__head-wrapper">
                <div class="dropdown dropdown-inline k-hide" data-toggle="k-tooltip" title="Quick actions" data-placement="left">
                    <button type="button" class="btn btn-sm btn-elevate btn-danger btn-bold btn-upper dropdown-toggle-" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
                        <a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
                        <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-elevate btn-brand" id="k_dashboard_daterangepicker" data-toggle="k-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="k-font-bold" id="k_dashboard_daterangepicker_date">Aug 16</span>
                    <i class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content Body -->
    <div class="k-content__body	k-grid__item k-grid__item--fluid" id="k_content_body">
        <div class="row">
            <div class="col-lg-12">

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">2 Columns Form Layout</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form k-form--label-right">
                        <div class="k-portlet__body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Full Name:</label>
                                    <input type="email" class="form-control" placeholder="Enter full name">
                                    <span class="form-text text-muted">Please enter your full name</span>
                                </div>
                                <div class="col-lg-6">
                                    <label class="">Contact Number:</label>
                                    <input type="email" class="form-control" placeholder="Enter contact number">
                                    <span class="form-text text-muted">Please enter your contact number</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Address:</label>
                                    <div class="k-input-icon">
                                        <input type="text" class="form-control" placeholder="Enter your address">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter your address</span>
                                </div>
                                <div class="col-lg-6">
                                    <label class="">Postcode:</label>
                                    <div class="k-input-icon">
                                        <input type="text" class="form-control" placeholder="Enter your postcode">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter your postcode</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>User Group:</label>
                                    <div class="k-radio-inline">
                                        <label class="k-radio k-radio--solid">
                                            <input type="radio" name="example_2" checked value="2"> Sales Person
                                            <span></span>
                                        </label>
                                        <label class="k-radio k-radio--solid">
                                            <input type="radio" name="example_2" value="2"> Customer
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="form-text text-muted">Please select user group</span>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="reset" class="btn btn-primary">Save</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                    <div class="col-lg-6 m--align-right">
                                        <button type="reset" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">2 Columns Horizontal Form Layout</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form k-form--fit k-form--label-right">
                        <div class="k-portlet__body">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Full Name:</label>
                                <div class="col-lg-3">
                                    <input type="email" class="form-control" placeholder="Enter full name">
                                    <span class="form-text text-muted">Please enter your full name</span>
                                </div>
                                <label class="col-lg-2 col-form-label">Contact Number:</label>
                                <div class="col-lg-3">
                                    <input type="email" class="form-control" placeholder="Enter contact number">
                                    <span class="form-text text-muted">Please enter your contact number</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Address:</label>
                                <div class="col-lg-3">
                                    <div class="k-input-icon">
                                        <input type="text" class="form-control" placeholder="Enter your address">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter your address</span>
                                </div>
                                <label class="col-lg-2 col-form-label">Postcode:</label>
                                <div class="col-lg-3">
                                    <div class="k-input-icon">
                                        <input type="text" class="form-control" placeholder="Enter your postcode">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter your postcode</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Group:</label>
                                <div class="col-lg-3">
                                    <div class="k-radio-inline">
                                        <label class="k-radio k-radio--solid">
                                            <input type="radio" name="example_2" checked value="2"> Sales Person
                                            <span></span>
                                        </label>
                                        <label class="k-radio k-radio--solid">
                                            <input type="radio" name="example_2" value="2"> Customer
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="form-text text-muted">Please select user group</span>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-10">
                                        <button type="reset" class="btn btn-success">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">3 Columns Form Layout</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form k-form--label-right">
                        <div class="k-portlet__body">
                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <label>Full Name:</label>
                                    <input type="email" class="form-control" placeholder="Enter full name">
                                    <span class="form-text text-muted">Please enter your full name</span>
                                </div>
                                <div class="col-lg-4">
                                    <label class="">Email:</label>
                                    <input type="email" class="form-control" placeholder="Enter email">
                                    <span class="form-text text-muted">Please enter your email</span>
                                </div>
                                <div class="col-lg-4">
                                    <label>Username:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <span class="form-text text-muted">Please enter your username</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <label class="">Contact:</label>
                                    <input type="email" class="form-control" placeholder="Enter contact number">
                                    <span class="form-text text-muted">Please enter your contact</span>
                                </div>
                                <div class="col-lg-4">
                                    <label class="">Fax:</label>
                                    <div class="k-input-icon k-input-icon--right">
                                        <input type="text" class="form-control" placeholder="Fax number">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-info-circle"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter fax</span>
                                </div>
                                <div class="col-lg-4">
                                    <label>Address:</label>
                                    <div class="k-input-icon k-input-icon--right">
                                        <input type="text" class="form-control" placeholder="Enter your address">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter your address</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <label class="">Postcode:</label>
                                    <div class="k-input-icon k-input-icon--right">
                                        <input type="text" class="form-control" placeholder="Enter your postcode">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter your postcode</span>
                                </div>
                                <div class="col-lg-4">
                                    <label class="">User Group:</label>
                                    <div class="k-radio-inline">
                                        <label class="k-radio k-radio--solid">
                                            <input type="radio" name="example_2" checked value="2"> Sales Person
                                            <span></span>
                                        </label>
                                        <label class="k-radio k-radio--solid">
                                            <input type="radio" name="example_2" value="2"> Customer
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="form-text text-muted">Please select user group</span>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-8">
                                        <button type="reset" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->
                <div class="k-portlet">
                    <div class="k-portlet__head">
                        <div class="k-portlet__head-label">
                            <h3 class="k-portlet__head-title">3 Columns Horizontal Form Layout</h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="k-form k-form--label-right">
                        <div class="k-portlet__body">
                            <div class="form-group row form-group-marginless k-margin-t-20">
                                <label class="col-lg-1 col-form-label">Full Name:</label>
                                <div class="col-lg-3">
                                    <input type="email" class="form-control" placeholder="Full name">
                                    <span class="form-text text-muted">Please enter your full name</span>
                                </div>
                                <label class="col-lg-1 col-form-label">Email:</label>
                                <div class="col-lg-3">
                                    <input type="email" class="form-control" placeholder="Email">
                                    <span class="form-text text-muted">Please enter your email</span>
                                </div>
                                <label class="col-lg-1 col-form-label">Username:</label>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <span class="form-text text-muted">Please enter your username</span>
                                </div>
                            </div>
                            <div class="k-separator k-separator--border-dashed k-separator--space-lg k-separator--portlet-fit"></div>
                            <div class="form-group row form-group-marginless">
                                <label class="col-lg-1 col-form-label">Contact:</label>
                                <div class="col-lg-3">
                                    <input type="email" class="form-control" placeholder="Enter contact number">
                                    <span class="form-text text-muted">Please enter your contact</span>
                                </div>
                                <label class="col-lg-1 col-form-label">Fax:</label>
                                <div class="col-lg-3">
                                    <div class="k-input-icon">
                                        <input type="text" class="form-control" placeholder="Fax number">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-info-circle"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter fax</span>
                                </div>
                                <label class="col-lg-1 col-form-label">Address:</label>
                                <div class="col-lg-3">
                                    <div class="k-input-icon">
                                        <input type="text" class="form-control" placeholder="Enter your address">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter your address</span>
                                </div>
                            </div>
                            <div class="k-separator k-separator--border-dashed k-separator--space-lg k-separator--portlet-fit"></div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-form-label">Postcode:</label>
                                <div class="col-lg-3">
                                    <div class="k-input-icon">
                                        <input type="text" class="form-control" placeholder="Enter your postcode">
                                        <span class="k-input-icon__icon k-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
                                    </div>
                                    <span class="form-text text-muted">Please enter your postcode</span>
                                </div>
                                <label class="col-lg-1 col-form-label">User Group:</label>
                                <div class="col-lg-3">
                                    <div class="k-radio-inline">
                                        <label class="k-radio k-radio--solid">
                                            <input type="radio" name="example_2" checked value="2"> Sales Person
                                            <span></span>
                                        </label>
                                        <label class="k-radio k-radio--solid">
                                            <input type="radio" name="example_2" value="2"> Customer
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="form-text text-muted">Please select user group</span>
                                </div>
                            </div>
                        </div>
                        <div class="k-portlet__foot">
                            <div class="k-form__actions">
                                <div class="row">
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-7">
                                        <button type="reset" class="btn btn-brand">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content Body -->
</div>

<!-- end:: Content -->